
*{
    margin: 0;
    padding: 0;

}

body{
    background-color: aqua;
}
body header{
    background-color: black;
    height: 10vh;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
body header h1{
    color: aqua;
}
body nav{
    height: 5vh;
    background-color: rgba(0, 0, 0, 0.5);
    color: aliceblue;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
}
body nav ul{
    
}
body nav ul li{
    display: inline-block;

}